#java specific
*.class

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Eclipse ignore stuff
.cache
.project
.classpath

# SBT target
project/target/
target/

# Netbeans ignore stuff
.sbt-hack-lock
/nbproject/private/
/build/


